<form method="post" action="{{ path('app_admin_chien_delete', {'id': chien.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chien.id) }}">
    <button class="btn">Delete</button>
</form>
