{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}
{% block body %}


<main role="main" style="margin-top: 32px;">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">À Propos</h1>
            <p class="lead text-muted">En savoir plus sur CanisPro Education</p>
        </div>
    </section>
</main>
{% endblock %}
