{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}
{% block body %}


<main role="main" style="margin-top: 32px;">
    <section class="jumbotron text-center">
        <div class="container py-5">
            <h1 class="display-4">CanisPro Éducation</h1>
            <p class="lead">Dans la société moderne, le chien est considéré non seulement comme un animal utilitaire, mais aussi comme un membre de la famille. Créer des relations harmonieuses entre l'homme et l'animal en prenant en compte leurs besoins et leur bien-être est notre mission.</p>
        </div>
    </section>

    <div class="container">
<!-- Photos et illustrations -->
        <section class="mb-5">
            <h2 class="h3">Galerie</h2>
            <div class="row"> 
                <div class="col-md-4 mb-3">
                    <img src="{{ asset('images/chien-accueil.webp') }}" class="img-fluid rounded" alt="Chien accueil">
                </div>

                <div class="col-md-4 mb-3">
                    <img src="{{ asset('images/centre-education-canine.jpg') }}" class="img-fluid rounded" alt="Centre CanisPro">
                </div>

                <div class="col-md-4 mb-3">
                    <img src="{{ asset('images/dog2.webp') }}" class="img-fluid rounded" alt="Photo chien 2">
                </div>
            </div>
        </section>



        <!-- Objectifs du Centre -->
        <section class="mb-5">
            <h2 class="h3">Objectifs du Centre</h2>
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Fournir des cours de formation pour chiens adaptés aux besoins des propriétaires et des animaux.</div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Promouvoir une éducation canine moderne et équilibrée, visant à améliorer la communication entre le propriétaire et son chien.</div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Assurer le bien-être des chiens en offrant une approche éducative fondée sur le respect et la compréhension des besoins de l'animal.</div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Proposer une large gamme de cours, incluant des séances de socialisation, d’agility et de comportement canin.</div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Offrir un environnement sûr et professionnel pour le développement des compétences des chiens et la satisfaction des propriétaires.</div>
                </div>
            </div>
        </section>

        
    </div>
</main>
{% endblock %}
