{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}
{% block body %}


<main role="main" style="margin-top: 32px;">
    <section class="jumbotron text-center">
        <div class="container py-5">
            <h1 class="display-4">CanisPro Éducation</h1>
            <p class="lead">Dans la société moderne, le chien est considéré non seulement comme un animal utilitaire, mais aussi comme un membre de la famille. Créer des relations harmonieuses entre l'homme et l'animal en prenant en compte leurs besoins et leur bien-être est notre mission.</p>
        </div>
    </section>

    <div class="container">
<!-- Photos et illustrations -->
        <section class="mb-5">
            <h2 class="h3">Galerie</h2>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <img src="{{ asset('images/centre-education-canine.jpg') }}" class="img-fluid rounded" alt="Centre CanisPro">
                </div>
                <div class="col-md-4 mb-3">
                    <img src="{{ asset('images/chien-accueil.webp') }}" class="img-fluid rounded" alt="Chien accueil">
                </div>

                <div class="col-md-4 mb-3">
                    <img src="{{ asset('images/dog2.webp') }}" class="img-fluid rounded" alt="Photo chien 2">
                </div>
            </div>
        </section>



        <!-- Objectifs de l'application (horizontal) -->
        <section class="mb-5">
            <h2 class="h3">Objectifs de l'application</h2>
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Présenter les cours proposés par le centre.</div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Gérer les cours et les chiens.</div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Planifier les séances de formation pour les chiens.</div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Gérer les inscriptions des chiens aux cours.</div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="p-3 border rounded">Assurer un accès sécurisé selon les rôles des utilisateurs.</div>
                </div>
            </div>
        </section>

        
    </div>
</main>
{% endblock %}
