{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}

<main role="main" style="margin-top: 32px;">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Liste de Cours</h1>
            <p class="lead text-muted">Découvrez nos formations</p>
        </div>
    </section>
    <div class="container">
        <div class="row g-4">

            {% for cour in cours %}
            <div class="col-md-4">
                <div class="card shadow-sm h-100">

                    <div class="card-header bg-dark text-white text-center">
                        <h5 class="mb-0">{{ cour.nomCour }}</h5>
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{ cour.description }}</p>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                          <p class="mb-1"><strong>Prix :</strong> {{ cour.prix }} €</p>
                          <a class="btn btn-secondary" href="{{ path('app_details_cour', {'id': cour.id}) }}">Voir les détails</a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</main>

{% endblock %}